<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medfounder">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".info"></activity>
        <activity android:name=".ChecarConsultas" />
        <activity android:name=".MarcarConsulta" />
        <activity android:name=".AssimilarMedicos" />
        <activity android:name=".EscolherConversa" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".conversar" />
        <activity android:name=".Funcoes" />
        <activity android:name=".listabd" />
        <activity android:name=".busca" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>